h1{
    background-color: rgb(4, 54, 56);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: rgb(145, 168, 165);
    text-align: center;
    
}

h2.primero {
    background: rgba(0, 128, 0, 0.1);
    font-family:"Trinrong", sans-serif;
  }
  
h2.segundo {
    background: rgba(0, 128, 0, 0.3);
    font-family:"Sofia", sans-serif;
  }
  
h2.tercero {
    background: rgba(0, 128, 0, 0.6);
    font-family:"Audiowide", sans-serif;
}


h2{
    background-color: rgb(157, 145, 160);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: inherit;
    color:rgb(50, 6, 92);
    text-align: center;
    
}
li ul {
    background-color: rgb(204, 228, 220);
    border: 2px solid rgb(4, 56, 30);
    border-radius: 5px;
    text-align:center ;
    color: lightcyan;
    margin:10px;
    padding: 15px;
    }



article{
    width: 50%;
    background-color: rgb(230, 240, 230); 
    margin: 40px;
    padding: 60px;
    border:solid 10px rgb(231, 120, 235);
    outline:dotted 8px greenyellow;
    text-align: justify;
    font-family:"Sofia" ;
    align-self: center;
    

}
aside{
    width:100%;
    height: 100%;
    background-color: rgb(177, 14, 14);
    font: 2em white;
    /*float: none;*/
}

footer{
    background-color: rgb(221, 184, 184);
    clear:both;
   
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }